@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: Montserrat, Courier, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

code {
  font-family: Montserrat, 'Courier New', monospace;
}

button {
  cursor: pointer;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: fit-content;
}
